@{
    // Det är OK att använda ViewBag för att sätta Title!
    // Denna dynamiska property kommer vi sedan åt i t.ex. Layout
    ViewBag.Title = "Gallery/Index Title";
}

<h2>Detta kommer från Index.cshtml</h2>

<div>
    <div>Ditt IP: 
        <strong>@ViewBag.ClientIp</strong> (Visar ditt IP)
    </div>
    <div>QueryString: 
        <strong>@ViewBag.QueryString</strong> (Visar allt efter ? i adressfältet)
    </div>
    <div>Raw URL: 
        <strong>@ViewBag.RawUrl</strong> (Visar URLen som du skrivit in, exklusive hostname)
    </div>
</div>

<h2>Nu laddar vi in en Partial View!</h2>

@* (Detta är en kommentar i Razor)

    Nedan vill vi visa Upload.cshtml
    Vad som är intressant här att det finns INGEN Action för att hämta Upload, eller hur?

    Vad som händer är att den renderar innehållet i Upload.cshtml, utan att det finns en Action
    Vad händer när vi POSTar formuläret och det inte är med en fel? Testa!

*@

@Html.Partial("Upload")