@model IList<MvcDemo.Data.Models.Photo>

@{
    // Nu kan vi jobba med vår Model
    // Model är en Lista av Photo

    ViewBag.Title = $"Vi har {Model.Count} bilder i vår lista";
}

<h3>Nu tittar vi på en lista av bilder!</h3>

@* (Detta är en kommentar i Razor)

    Denna koden i detta blocket kompileras "on the fly"
    Och det kommer inte returneras till webbläsaren
    Det betyder att allt vi skriver i Razor körs på servern!

    Nedan ser vi att vi kan göra en foreach-loop för att gå över alla bilder

*@

@foreach (var photo in Model)
{
    // Model är av typen IList (interface för List)
    // Detta betyder att vi kan köra foreach!

    <div class="photo">
        <h3>@photo.Name</h3>
        <img src="/Uploads/@photo.Filename" width="250" />
    </div>
}
