@using System.Security.Claims

<h2>Välkommen @User.Identity.Name</h2>

@if (User.Identity.IsAdministrator())
{
    <strong><a href="/Administration/Dashboard">Dashbord</a></strong>
}

<h3>Claims</h3>
@{
    var identity = User.Identity as ClaimsIdentity;
}

@foreach (var claim in identity.Claims)
{
    <strong>@claim.Type</strong><br />
    @claim.Value
    <hr/>
}