<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <div>
            Du är inloggad som: @User.Identity.Name |
            <a href="/Authentication/Logout">Logga ut</a>
        </div>
    }
    @RenderBody()
</body>
</html>
