<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @*
            RenderBody kommer att rendera innehållet i den vy som returnerats
            av den action som körs, om den returnerar med View()
            Tänk på att denna filen INTE körs när man anropar PartialView()
            från en Action.
        *@

        @RenderBody()
    </div>
</body>
</html>
